{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load utils_forms %}

<div class="large-12 columns container_form">

  <form ng-submit="send(contactForm)" name="contactForm" class="contact-form">

    <div class="row">
      <h3>{% trans "Contacto" %}</h3>
    </div>

    <div class="row">
      {% standar_field form.name column_size="6" %}
      {% standar_field form.phone column_size="6" %}
    </div>

    <div class="row">
      {% standar_field form.email column_size="6" %}
      {% standar_field form.subject column_size="6" %}
    </div>

    <div class="row">
      {% standar_field form.message column_size="12" %}
    </div>

    <div class="row">
      <ul class="djng-field-errors" ng-show="apiErrors.contactForm.$nonfield">
        <li ng-show="apiErrors.contactForm.$nonfield" class="invalid" ng-bind="apiErrors.contactForm.$nonfield.msg"></li>
      </ul>
    </div>

    <div class="row form-buttons text-center">
      <a ng-click="send(contactForm)" class="rj-button">{% trans "Enviar" %}</a>
    </div>

  </form>

</div>
