<div class="row fullWidth" style="background-color: #58c1c9; margin-top:30px; " >
    <div class="large-6 large-centered columns" 
         style="background-repeat: no-repeat; 
         background-size: 700px 500px;
         background-image: url('{{ 'img/galera-azul.svg' | static }}');">

        <form id="resetPasswordForm" name="resetPasswordForm" ng-submit="send(resetPasswordForm)">

            <div class="row" style="padding-top:60px !important; padding-bottom:30px !important;">
                <div class="large-6 large-centered columns" 
                     style="">
                    <h3 class="" 
                        style="font-size: 200%;font-family: DosisBold; color: white;text-align: center;">
                        {{ 'Reiniciar contraseña' | translate }}
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <input 
                        type="password" 
                        class="radius shadow-input" 
                        ng-model="resetPasswordData.new_password1"
                        name="new_password1"
                        id="new_password1"
                        placeholder="Nueva contraseña"
                    >
                    <img class="shadow-img" src="{{ 'img/shadow-input-login.svg' | static }}"/>
                    <input 
                        type="password" 
                        class="radius shadow-input" 
                        ng-model="resetPasswordData.new_password2"
                        name="new_password2"
                        id="new_password2"
                        placeholder="Repita"
                    >
                    <img class="shadow-img" src="{{ 'img/shadow-input-login.svg' | static }}"/>

                </div>
                <div class="large-6 columns">
                    <input style="font-family: DosisSemiBold; color: white; font-size: 100%; "  
                           class="button radius tiny alert"  type="submit" value="{{ 'Reiniciar contraseña' | translate }}"/>
                </div>
            </div>
        </form>

    </div>
</div>
