{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<h4 style="padding-top:50px;padding-bottom:30px;">{% trans "BÚSQUEDA AVANZADA" %}</h4>

<div class="row">
    <div class="large-12 columns">
    <input style="" type="text" class="radius" placeholder="{% trans "Buscar por palabra" %}"/>
    </div>
</div>

<div class="row ">
    <div class="large-4 columns">
        <label>{% trans "Por fecha" %}</label>
        <select class="radius"><option>Indistinto</option></select>
    </div>
    <div class="large-4 columns">
        <label>{% trans "Por tipo de puesto" %}</label>
        <select class="radius"><option>Indistinto</option></select>
    </div>
    <div class="large-4 columns">
        <label>{% trans "Por salario" %}</label>
        <select class="radius"><option>Indistinto</option></select>
    </div>
    <hr style="border-color: red;"/>
</div>

<div class="row ">
</div>

{% endblock %}