<div class="large-12 columns" style="padding-left: 0;">

  <div class="large-12 columns">
    <a class="rj-button small" ui-sref="employer.main.courseedit({pk:'-1'})">
      <img src="/static/img/megafono.png">
      NUEVO CURSO</a>
    <!-- <a class="rj-button small lined" ng-click="">ULTIMOS USADOS</a>
    <a class="rj-button small lined" ng-click="">CREADOS POR MI</a> -->
  </div>

<!--  <div class="large-2 columns">
    <ul class="rj-list" style="margin: 0">
      <li
        class="secondary big"
        ng-class="{'light-bg': filterStatus === null}"
        >
          <a href="#" ng-click="setFilterStatus(null)">{{ "Todos" | translate }}</a>
      </li>
      <li
        ng-repeat="status in info.aviable_status track by status.value"
        ng-class="{'light-bg': filterStatus === status.value}"
      >
        <a href="#" ng-click="setFilterStatus(status.value)">{{ status.name }}</a>
      </li>
    </ul>
  </div>-->

  <div class="large-10 columns lista-avisos">


    <div class="courses-list">
      <div 
         ng-if="courses.length"
         rj-table-collection
         collection-schema="coursesSchema"
         collection-data="courses.items"
         on-click="gotoCourse($item.pk)"
         selectable="true"
         ng-model="selecteds.items"
      ></div>

      <alert ng-if="!courses.length" type="'info'">
        {{ "No hay cursos" | translate }}
      </alert>
<!--
      <div>
        <pagination
          ng-if="jobs.length"
          total-items="jobs.totalLength"
          page="actualPage"
          items-per-page="5"
          on-select-page="changePage(page)"
        ></pagination>
      </div>
-->
    </div>

  </div>

</div>
