
<div class="global-stats">
    
  <div> <p class="stats-data" > 779.666 <p> 
    <p class="stats-footer" >Currículums</p>  
  </div>
      <div>


          <p class="stats-header" > Administración </p>
        <p class="stats-data" > 204.852 </p>
        <p class="stats-footer" >Currículums</p>
      </div>
      <div>

          <p class="stats-header" > Ventas </p>
        <p class="stats-data" > 79.475 </p>
        <p class="stats-footer" >Currículums</p>
      </div>
      <div>
          <p class="stats-header" > Ingeniería </p>
        <p class="stats-data" > 40.567</p>
        <p class="stats-footer" >Currículums</p>
      </div>
  <div>
    
    <p class="stats-header" > Directivos </p>


    <p class="stats-data" > 14.333 <p>
        <p class="stats-footer" >Currículums</p>
  </div>
  
  </div>


<div class="large-12 columns" style="padding-left: 0;">
  <span>{{ "Evoluciona tu proceso de selección con nuestros packs exclusivos!" | translate }}</span>
</div>
