{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load utils_forms %}

<div class="large-12 columns container_form">

  <form ng-submit="save(workpreferenceForm)" name="workpreferenceForm" class="workpreference-form">

    <div class="row">
      <h5>{% trans "Preferencias Laborales" %}</h5>
    </div>

    <div class="row">
      {% standar_field form.workpreference column_size="6" %}
    </div>

    <div class="row">
      <ul class="djng-field-errors" ng-show="apiErrors.workpreferenceForm.$nonfield">
        <li ng-show="apiErrors.workpreferenceForm.$nonfield" class="invalid" ng-bind="apiErrors.workpreferenceForm.$nonfield.msg"></li>
      </ul>
    </div>

    <div class="row left field-container field-checkbox-container" ng-if="requestExclusive">
      <input name="exclusive" type="checkbox" ng-model="workpreferenceData['exclusive']">
      <label for="exclusive">{% trans "Es exluyente" %}</label>
    </div>

    <div class="row form-buttons text-center">
      <a ng-click="save(workpreferenceForm)" class="rj-button">{% trans "Guardar" %}</a>
      <a ng-click="cancel(workpreferenceForm)" class="rj-button alternative">{% trans "Cancelar" %}</a>
    </div>

  </form>

</div>
