{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load utils_forms %}

<div class="large-12 columns container_form">

  <form ng-submit="save(languageForm)" name="languageForm" class="language-form">

    <div class="row">
      <h5>{% trans "Idiomas" %}</h5>
    </div>

    <div class="row">
      {% standar_field form.language column_size="6" %}
      {% standar_field form.level column_size="6" %}
    </div>

    <div class="row">
      <ul class="djng-field-errors" ng-show="apiErrors.languageForm.$nonfield">
        <li ng-show="apiErrors.languageForm.$nonfield" class="invalid" ng-bind="apiErrors.languageForm.$nonfield.msg"></li>
      </ul>
    </div>

    <div class="row left field-container field-checkbox-container" ng-if="requestExclusive">
      <input name="exclusive" type="checkbox" ng-model="languageData['exclusive']">
      <label for="exclusive">{% trans "Es exluyente" %}</label>
    </div>

    <div class="row form-buttons text-center">
      <a ng-click="save(languageForm)" class="rj-button">{% trans "Guardar" %}</a>
      <a ng-click="cancel(languageForm)" class="rj-button alternative">{% trans "Cancelar" %}</a>
    </div>

  </form>

</div>
