
.geo-field {
    font-family: DosisRegular;

    .placeholder {
        color: $gris3;
        font-family: DosisLight;
        font-style: italic;
    }

    i.fa {
        color: $naranja2;
    }
}
