{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load utils_forms %}

<div class="large-12 columns container_form">

  <form ng-submit="send(changePasswordForm)" name="changePasswordForm" class="change-password-form">

    <div class="row">
      <h5>{% trans "Cambiar contraseña" %}</h5>
    </div>

    <div class="row">
      {% standar_field form.old_password column_size="12" %}
      {% standar_field form.new_password1 column_size="12" %}
      {% standar_field form.new_password2 column_size="12" %}
    </div>

    <div class="row">
      <ul class="djng-field-errors" ng-show="apiErrors.changePasswordForm.$nonfield">
        <li ng-show="apiErrors.changePasswordForm.$nonfield" class="invalid" ng-bind="apiErrors.changePasswordForm.$nonfield.msg"></li>
      </ul>
    </div>

    <div class="row form-buttons text-center">
      <a ng-click="save(changePasswordForm)" class="rj-button">{% trans "Cambiar contraseña" %}</a>
      <a ng-click="$dismiss()" class="rj-button alternative">{% trans "Cancelar" %}</a>
    </div>

  </form>

</div>
