{% load i18n %}

<h2> {% trans 'Curriculum Vitae' %} </h2>

<p> {% trans 'Nombre:' %} {{ firt_name }}  {{ last_name }} </p>

<p> {% trans 'Estado Civil:' %} {% trans marital_status %} </p>

<p> {% trans 'DNI:' %} {{ dni }} </p>

<p> {% trans 'Fecha de Nacimiento:' %} {{ date_of_birth }} </p>

<p> {% trans 'Nacionalidad:' %} {{ country_of_birth }} </p>

<p> {% trans 'Código Postal:' %} {{ postal_code }} </p>

<p> {% trans 'Licencia de Conducir:' %} {% trans driver_license %} </p>

<p> {% trans '¿Posée vehículo propio?:' %} {% trans own_vehicle %} </p>

<p> {% trans '¿Posee algún tipo de discapacidad?:' %} {% trans has_disability %} </p>

<p> {% trans 'Biografía:' %} {% trans biograph %} </p>

<p> {% trans 'Experiencia Laboral:' %} 
    
        <table>
                <tr>

                    <th>{% trans 'Puesto:' %}</th> 
                    <th>{% trans 'Empresa:' %}</th>
                    <th>{% trans 'Fecha de Inicio:' %}</th> 
                    <th>{% trans 'Fecha de Finalización:' %}</th>
                </tr>

                {% for exp in experience %}

        <tr>
            <td>{% trans exp.position.name %}</td> 
            <td>  {% trans exp.company_name %} </td>
            <td>{{  exp.start_date }}</td> 
            <td>  {{  exp.end_date }} </td>

        </tr>
            
            
             
        {% endfor %}

            </table>

   
</p>
