<div class="row profile">
  <div class="large-5 columns cv-info">
    <div class="avatar">
      <profile-avatar ng-click="changeAvatar()"></profile-avatar>
    </div>
    <div class="data">
      <h1>{{ info.complete_name }}</h1>
      <h2>{{ info.email }}</h2>
    </div>
    <div class="meta">
      {{ "Última actualización del CV" | translate }}
      <span>{{ info.last_update }}</span>
    </div>
  </div>
  <div class="large-4 columns cv-percent">
    <postulant-completed-profile data="completedProfileData"></postulant-completed-profile>
  </div>
  <div class="large-3 columns cv-options">
    <div class="rj-card">
      <div class="card-header bg-active">
        Vista previa de mi CV
        <i class="fa fa-eye"></i>
      </div>
      <div class="card-header">
        Consejos para mi CV
        <i class="fa fa-eye"></i>
      </div>
      <div class="card-body">
        <ul class="actions">
          <li>
            <a href="#">
              <rj-icon icon="print"></rj-icon>
              <span>{{ "Imprimir" | translate }}</span>
            </a>
          </li>
          <li>
            <a href="#">
              <rj-icon icon="email"></rj-icon>
              <span>{{ "Enviar por email" | translate }}</span>
            </a>
          </li>
          <li>
            <a href="#">
              <rj-icon icon="pdf"></rj-icon>
              <span>{{ "Descargar en PDF" | translate }}</span>
            </a>
          </li>
          <li>
            <a href="#">
              <rj-icon icon="word"></rj-icon>
              <span>{{ "Descargar en Word" | translate }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="cv-container">

  <div class="cv-content row">

      <div class="large-12 columns container_form">

        <!-- CV EDIT -->
        <div class="row">
          <div ng-include src="'/api/v1/postulant/templates/cv_edit.html'"></div>
        </div>

        <!-- Biography -->
        <div class="row">
          <div class="large-12 columns container_form">

            <form ng-submit="saveBio(postulantBioForm)" name="postulantBioForm" class="postulant-bio-form">

              <div class="row">
                <h5>{{ "Biografía" | translate }}</h5>
                <span class="help right">{{ "Máximo 600 caracteres" | translate }}</span>
              </div>

              <div class="row">
                <textarea
                  class="radius shadow-input"
                  name="description"
                  ng-model="postulantBioData['description']"
                  ng-required="true"
                  required="required"
                  placeholder="{{ 'Escribe una breve presentación sobre tu experiencia laboral.' | translate }}">
                </textarea>
                <ul
                  class="djng-field-errors ng-hide"
                  ng-show="postulantBioForm.description.$dirty">
                  <li ng-show="postulantBioForm.description.$error.required" class="invalid ng-hide">
                    Este campo es requerido.
                  </li>
                  <li ng-show="apiErrors.postulantBioForm.description.msg" class="invalid ng-binding ng-hide" ng-bind="apiErrors.postulantBioForm.description.msg">
                  </li>
                </ul>
              </div>

              <div class="row form-buttons text-center">
                <a ng-click="saveBio(postulantBioForm)" class="rj-button">{{ "Guardar" | translate }}</a>
                <a ng-click="reset(postulantBioForm)" class="rj-button alternative">{{ "Cancelar" | translate }}</a>
              </div>

          </div>
        </div>

        <!-- Professional exp -->
        <div class="row">

          <div class="large-12 columns container-section">

            <div class="row">
              <h5>{{ "Experiencia laboral" | translate }}</h5>
            </div>

            <div class="row experience-list">

              <alert ng-if="!experiences.length" type="'info'">
                {{ "No hay ningún registro de experiencia laboral" | translate }}
              </alert>

              <div 
                ng-if="experiences.length"
                rj-table-collection
                collection-schema="experiencesTableSchema"
                collection-data="experiences"
                order-reverse="true"
                selectable
                ng-model="selecteds.experiences"
                on-click="addPE($item.id)"
              ></div>

            </div>


            <div class="row form-buttons text-center">
              <a ng-show="selecteds.experiences.length" ng-click="deletePE()" class="rj-button lined">{{ "Borrar selecionadas" | translate }}</a>
              <a ng-click="addPE()" class="rj-button">{{ "Agregar" | translate }}</a>
            </div>

          </div>

        </div>

        <!-- EDUCATION -->

        <div class="row">

          <div class="large-12 columns container-section">

            <div class="row">
              <h5>{{ "Educación" | translate }}</h5>
            </div>

            <div class="row education-list">

              <div ng-if="!educations.length" class="text-center">
              </div>

              <alert ng-if="!educations.length" type="'info'">
                {{  "No hay datos de referencia cargados" | translate }}
              </alert>

              <div 
                ng-if="educations.length"
                rj-table-collection
                collection-schema="educationsTableSchema"
                collection-data="educations"
                selectable
                ng-model="selecteds.educations"
                on-click="addEducation($item.id)"
              ></div>

            </div>

            <div class="row form-buttons text-center">
              <a ng-show="selecteds.educations.length" ng-click="deleteEducations()" class="rj-button lined">{{ "Borrar seleccionados" | translate }}</a>
              <a ng-click="addEducation()" class="rj-button">{{ "Agregar" | translate }}</a>
            </div>

          </div>

        </div>

        <!-- LANGUAJES -->

        <div class="row">

          <div class="large-12 columns container-section">

            <div class="row">
              <h5>{{ "Idiomas" | translate }}</h5>
            </div>

            <div class="row language-list">

              <div ng-if="!languages.length" class="text-center">
              </div>

              <alert ng-if="!languages.length" type="'info'">
                {{  "No hay datos de referencia cargados" | translate }}
              </alert>

              <div 
                ng-if="languages.length"
                rj-table-collection
                collection-schema="languagesTableSchema"
                collection-data="languages"
                selectable
                ng-model="selecteds.languages"
                on-click="addLanguage($item)"
              ></div>

            </div>

            <div class="row form-buttons text-center">
              <a ng-show="selecteds.languages.length" ng-click="deleteLanguages()" class="rj-button lined">{{ "Borrar seleccionados" | translate }}</a>
              <a ng-click="addLanguage()" class="rj-button">{{ "Agregar" | translate }}</a>
            </div>

          </div>

        </div>


        <!-- INFORMATIZATION -->

        <div class="row">

          <div class="large-12 columns container-section">

            <div class="row">
              <h5>{{ "Conocimientos informáticos" | translate }}</h5>
            </div>

            <div class="row">

              <div ng-if="!computerknowledges.length" class="text-center">
              </div>

              <alert ng-if="!computerknowledges.length" type="'info'">
                {{  "No hay datos de referencia cargados" | translate }}
              </alert>

              <div 
                ng-if="computerknowledges.length"
                rj-table-collection
                collection-schema="computerknowledgesTableSchema"
                collection-data="computerknowledges"
                selectable
                ng-model="selecteds.computerknowledges"
                on-click="addComputerknowledge($item)"
              ></div>

            </div>

            <div class="row form-buttons text-center">
              <a ng-show="selecteds.computerknowledges.length" ng-click="deleteComputerknowledges()" class="rj-button lined">{{ "Borrar seleccionados" | translate }}</a>
              <a ng-click="addComputerknowledge()" class="rj-button">{{ "Agregar" | translate }}</a>
            </div>

          </div>

        </div>

        <!-- ADDITIONAL -->

        <div class="row">

          <div class="large-12 columns container-section">

            <div class="row">
              <h5>{{ "Conocimientos adicionales" | translate }}</h5>
            </div>

            <div class="row">

              <div ng-if="!additionalknowledges.length" class="text-center">
              </div>

              <alert ng-if="!additionalknowledges.length" type="'info'">
                {{  "No hay datos de referencia cargados" | translate }}
              </alert>

              <div 
                ng-if="additionalknowledges.length"
                rj-table-collection
                collection-schema="additionalknowledgesTableSchema"
                collection-data="additionalknowledges"
                selectable
                ng-model="selecteds.additionalknowledges"
                on-click="addAdditionalknowledge($item)"
              ></div>

            </div>

            <div class="row form-buttons text-center">
              <a ng-show="selecteds.additionalknowledges.length" ng-click="deleteAdditionalknowledges()" class="rj-button lined">{{ "Borrar seleccionados" | translate }}</a>
              <a ng-click="addAdditionalknowledge()" class="rj-button">{{ "Agregar" | translate }}</a>
            </div>

          </div>

        </div>

        <!-- Roles -->

        <div class="row">

          <div class="large-12 columns container-section">

            <div class="row">
              <h5>{{ "Roles" | translate }}</h5>
            </div>

            <div class="row roles-list">
              <select-roles ng-model="rolesData"></select-roles>
            </div>

          </div>

        </div>

      </div>

  </div>

</div>
