<div class="row">

  
  <div class="large-12 columns">

    <div class="header-panel">
    </div>

    <div class="messages-list">

      <alert ng-if="!favorites || !favorites.length" type="'info'">
        {{ "No hay favoritos" }}
      </alert>
      
      <postulant-favorite-item
        ng-repeat="favorite in favorites.items track by favorite.id"
        view-cb="view"
        favorite="favorite"
      ></postulant-favorite-item>

      <div>
        <pagination
          ng-if="favorites.length"
          total-items="favorites.totalLength"
          page="actualPage"
          items-per-page="5"
          on-select-page="changePage(page)"
        ></pagination>
      </div>

    </div>

  </div>

</div>
