
.profile-bar {
    height:54px;
    background-color: #aaacae;

    li {
        margin: 10px;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: #aaacae;

        &.active {
            margin: 0px;
            padding: 15px 25px 14px 20px;
            border-radius: 2px;
            background-color: #f04d40;
        }

        a {
            font-family: DosisBold;
            color:white;
        }

    }
}
