
.form-modal {
    @extend .rj-modal;
}

.container_form {
    //-moz-box-shadow: inset 0 0 2px #59c1c9;
    //-webkit-box-shadow: inset 0 0 2px #59c1c9;
    // background-color: white;

    font-family: DosisRegular;

    form .row {
        padding: 0;
        margin: 0 !important;
    }

    h5 {
        color: $verde;
        font-family: DosisBold;
    }

    label {
        display: block;
        font-family: DosisBold;
        color: $naranja2; 
        padding: 10px 0px;
    }

    textarea {
        height: 100px; 
    }

    div.field-checkbox-container {
        margin-top: 38px;

        label {
            font-family: DosisRegular;
            font-size: 1.05em;
            color: #222;
        }

        &.alone {
            margin-top: 0px;
        }

    }

    div.row.form-buttons {

        margin-top: 30px !important;
        
        a.rj-button {
            margin-left: 5px;
        }

    }

}

form {

    ul.djng-field-errors {
        margin: 0;
        padding: 0;
        list-style: none;

        li.invalid {
            color: white;
            padding: 0px 10px;
            margin: 0;
            background: red;
            border-radius: 7px;
        }

        li.valid {
            display: none;
        }

    }


}

