{% load i18n %}
{% load static %}
<ul class="right"  >
  <li style="has-form">
    <div>
      <form ng-submit="searchJob()">
        <input
          type="text"
          placeholder="{% trans "¿Qué empleo buscás?" %}" 
          ng-model="searchQuery"
          style="text-indent: 1.2em;border-radius: 2px;padding-right:25px; border:solid 1px #fff; 
          padding:0 !important; margin:0 !important;font-family: DosisBold; 
          width:300px;display:inline-block !important;vertical-align: middle !important;"/>
        <img style="position:relative; left:-35px; top:10px; cursor:pointer; 
        display:inline-block;vertical-align: middle;" 
             src="{% static "img/lupa.svg" %}"/>
      </form>
    </div>
  </li>
  <li class="divider" style="border: 0;"></li>
  <li>
    <a style="padding:0; line-height: 0;" href="#">
      <profile-avatar style="width:45px; height: 45px;">
      </profile-avatar>
    </a>
  </li>
  <li class="divider" style="border: 0;"></li>
  <li class="">
    <a href="#" dropdown-toggle="#menu-list" style="font-family: DosisBold; font-size: 110%; font-weight: bold; color: white;">
      {{ request.user.name|default:request.user.email }}
    </a>
    <ul class="f-dropdown" id="menu-list">
      <li>
        <a
          style="font-family: DosisSemiBold; font-weight: bold;" 
          ui-sref="postulant.cv"
        >
          {% trans "Datos de usuario" %}
        </a>
      </li>
      <li>
        <a
          style="font-family: DosisSemiBold; font-weight: bold;" 
          ui-sref="postulant.messages"
        >
          {% trans "Mensajes" %}
        </a>
      </li>
      <li>
        <a
          style="font-family: DosisSemiBold; font-weight: bold;" 
          ng-click="changePassword()"
        >
          {% trans "Cambiar contraseña" %}
        </a>
      </li>
      <li>
        <a
           style="font-family: DosisSemiBold; font-weight: bold;" 
           ui-sref="accounts.logout"
        >
          {% trans "Cerrar sesión" %}
        </a>
      </li>
    </ul>
  </li>

  <li class="divider" style="border: 0;"></li>

  <li class="has-dropdown" style="">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}

    <a href="#"><img src="{% static "img/" %}{{LANGUAGE_CODE}}.svg"></img></a>
    <ul id="lang" class="dropdown">
      {% for lang in LANGUAGES %}
      <li><a data-lang="{{ lang.0 }}" href="#"><img src="{% static "img/" %}{{LANGUAGE_CODE}}.svg"></img></a></li>
      {% endfor %}
    </ul>

  </li>
  <li style="padding-right:100px;">
  </li>
</ul>
